# .NET Core
bin/
obj/

# Visual Studio Code
.vscode/
*.code-workspace

# Visual Studio
*.suo
*.user
*.sln.docstates

# NuGet
*.nuget.props
*.nuget.targets
nuget/
packages/

# Build Results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/

# Publishing
_PublishedWebsites/
pub/

# Roslyn
/.ide/

# Resharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Rider
.idea/

# SQL Server
*.mdf
*.ldf

# Test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# Misc
*.cache
*.log
*.bak
*.diff
*.tmp
*.temp
*.~*

# Visual Studio Code - Local History
.history/

# NPM
node_modules/

